<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Home {% endblock %}</title>
   <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" /> 
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

   <style type="text/css">
 <!--/*--><![CDATA[/*><!--*/
  html { font-family: Times, serif; font-size: 12pt; }
  #main, #sidebar { margin-top: 60px;}
  #sidebar { }
  .active {font-weight:bold; color:#fff;}
  /*]]>*/-->
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
        {% block nav %}
      <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">

        <a class="brand" href="/">
          <span style="color:#0C8">Me</span>Web
        </a>
		

        <ul id="nav" class="nav pull-right">
            <li>{% block nav-home %}<a href="/" {% block nav-home-style %}{% endblock %}>Dashboard</a>
              {% endblock %}</li>
            <li>{% block nav-about %}<a href="/about" {% block nav-about-style %}{% endblock %}>About</a>
              {% endblock %}</li>
            <li>{% block nav-help %}<a href="/help" {% block nav-help-style %}{% endblock %}>Help</a>
              {% endblock %}</li>  
        </ul>
      </div>
      </div>
      </div>
        {% endblock %}

        <div id="main" class="span8">
          {% block main  %}
          {% endblock %}
        </div>

        <div id="sidebar" class="span4">
          <div class="well">
          {% block sidebar %}
          <h3>Description</h3>
<p>MeWeb is a modular Dropbox clone that allows users to sync their file data to many forms of remote media effortlessly, then pushing that data to their other devices.</p>

          <h3>The Team</h3>
          <ul>
                  <li>Eric Mills</li>
                  <li>Marcell Vazquez</li>
                  <li>William Kennington</li>
          </ul>
          {% endblock %}
          </div>
        </div>
    </div>
  </div>
</body>
</html>
