{% extends 'base.html' %}

{% block main %}

<div class="pull-right btn-group">
	<a id="pull-all" class="btn" href="#"><i class="icon-download"></i> Pull All</a>
	<a id="push-all" class="btn" href="#"><i class="icon-upload"></i> Push All</a>
	<a id="sync" class="btn btn-success" href="#"><i class="icon-refresh icon-white"></i> Sync</a>
</div>

<h1>{% block title %} Your Sync Dashboard {% endblock %}</h1>
<br />
<table id="file-list" class="table table-striped table-bordered">
	<thead>
	<tr>
		<th width="30%">File name</th>
		<th width="30%">Last Modification Time</th>
		<th width="10%">Size</th>
		<th width="30%">Options</th>
	</tr>
	</thead>
	<tbody>
	{% for file in files  %}
		<tr>
			<td>{{ file.name }}</td>
			<td>{{ file.time }}</td>
			<td>{{ file.size }}</td>
			<td>
				<div class="pull-right btn-group">
					<a class="btn pull-file" href="#" name="{{ file.name }}"><i class="icon-download"></i> Pull</a>
					<a class="btn push-file" href="#" name="{{ file.name }}"><i class="icon-upload"></i> Push</a>
					<a class="btn btn-danger delete delete-file" href="#" name="{{ file.name }}"><i class="icon-remove-sign icon-white"></i> </a>
				</div>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td>There are no files in your directory.</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	{% endfor %}
	</tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {

    $("#file-list a.delete").click(function() {
      var del = confirm("Are you sure you want to delete this?");
      if(del==true) {
        $(this).closest("tr").fadeOut();
        newResponse();
        $("#response").load("delete_file/?f="+$(this).attr("name"));
      }
    });

    $("#sync").click(function(){  
      newResponse();
      $("#response").load("sync");  
    });  
    $("#pull-all").click(function(){  
      newResponse();
      $("#response").load("pull_all");  
    });  
    $("#push-all").click(function(){  
      newResponse();
      $("#response").load("push_all");  
    });  
    $(".push-file").click(function(){  
      newResponse();
      $("#response").load("push_file/?f="+$(this).attr("name"));  
    });  
    $(".pull-file").click(function(){  
      newResponse();
      $("#response").load("pull_file/?f="+$(this).attr("name"));  
    });

    function newResponse() {
    	$("#response").remove();
    	$("#file-list").before('<div id="response" class="alert alert-success"></div>');
     	$("#response").fadeIn().delay(2000).fadeOut('slow'); 
    }

 });
</script>

{% endblock %}